// COLORS
$color-primary: #28b485;
$color-primary-hover: #9ee4cdb7;
$color-primary-dark: #00a79d;
$color-primary-light: #43d3a3;
$color-text-ai: #00aa71;

$color-secundary-light: #ffb900;
$color-secundary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #ffffff;
$color-grey-light-2: #eee;
$color-grey-light-3: #e0e0e0;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;
$gutter-vertical-small: 6rem;
